<<<<<<< HEAD
<style type="text/css">
  .content{
    line-height: 28px;
    padding: 0 4px;
  }
  .content img {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  padding: 16px;
}
#post .content {
  font-size: 15px;
}
.time{
  display: flex;
  justify-content: space-between;
}
.time+hr{
  margin: 4px 0 16px;
}
#post h1 {
  text-align: center;
  margin-bottom: 32px;
}
  .pager a i{
  padding-bottom: 2px;
    font-size: 18px;
  }
  .pager>li>a{
    border-radius: 2px!important;
  }
.postTitle{
  text-align: center;
  font-size: 24px;
  margin: 24px 0 20px 0;
}
.catLable,.tagsLable{
  border-radius: 0px;
  padding: 2px 10px;
}
.next a:hover{
  background: #f9f9f9 !important;
}
.postTags{
  padding: 20px 20px 0 20px;
  position: relative;
}
.v[data-class=v] .vpanel,
.v[data-class=v] .vbtn,
.v[data-class=v] .vpreview .vcontent,
.v[data-class=v] .vemoji-popup {
  border-radius: 2px;
  margin: 0;
}
.v[data-class=v] .vheader input:focus,
.v[data-class=v] .veditor:focus {
  background: none;
}
@media screen and (max-width: 580px){
  .v[data-class=v] .vheader .vheader-item:not(:last-child){
    border-bottom: 1px solid #ddd
  }
}
.v[data-class=v] .vheader{
  border-bottom: 1px solid #ddd
}
h1,h2,h3,h4,h5,h6{
    padding-top: 60px;
    margin-top: -60px; /*偏移锚点*/
}
</style>

<article id="post">
  <section>
  <a class="label label-primary catLable" href="<%-page.categories.data[0].permalink-%>"><%- page.categories.data[0].name -%></a>
  <p class="postTitle"><%=page.title%></p>
  <p class="time"><span style="margin-right: 16px;"><%= date(page.date,'创建:YYYY-MM-DD') %></span><span>总字数:<%-strip_html(page.content).replace(/\s/g,'').length%></span></p>
<hr>
  <div class="content"><%-page.content%></div>
  <div class="postTags">
    <%for(var index in page.tags.data){%>
      <a href="<%- page.tags.data[index].permalink %>" class="label label-info tagsLable"><%- '# '+page.tags.data[index].name -%></a>
    <%}%>
  </div>
</section>
  <footer>
    <p class="text-muted">本文在知识共享 署名-相同方式共享 3.0协议之条款下提供。</p>
    <ul class="pager pager-justify">
<% if(page.prev){%>
  <li class="previous"><a href="<%- page.prev.permalink %>"><i class="icon-angle-left"></i>&nbsp;上一篇</a></li>
  <%}else{%>
    <li class="previous disabled"><a href=""><i class="icon-angle-left"></i>&nbsp;没有了</a></li>
  <%}%>

<% if(page.next){%>
  <li class="next"><a href="<%- page.next.permalink %>">下一篇&nbsp;<i class="icon-angle-right"></i></a></li>
  <%}else{%>
    <li class="next disabled"><a href="">没有了&nbsp;<i class="icon-angle-right"></i></a></li>
=======
<article id="post">
  <section>
  <h1><%=page.title%></h1>
  <p class="time"><span style="margin-right: 16px;"><i class="icon icon-pencil text-primary"></i><%= date(page.date,'YYYY年MM月DD日 HH:mm:ss') %></span><span>总字数:<%-strip_html(page.content).replace(/\s/g,'').length%></span></p>
<hr>
  <div class="content"><%-page.content%></div>
  <div style="margin-top: 16px;">
    <span style="margin-right: 16px;"><i class="icon icon-check text-green"></i><%= date(page.updated,'YYYY年MM月DD日 HH:mm:ss') %></span>
  </div>
</section>
  <footer>
    <p class="pull-right text-muted">本文在知识共享 署名-相同方式共享 3.0协议之条款下提供。</p>
    <p class="text-important">本文节选自 Wikipedia HTML5 词条。</p>
    <ul class="pager pager-justify">
<% if(page.prev){%>
  <li class="previous"><a href="<%- page.prev.permalink %>"><i class="icon-arrow-left"></i>上一篇</a></li>
  <%}else{%>
    <li class="previous disabled"><a href=""><i class="icon-arrow-left"></i>没有了</a></li>
  <%}%>

<% if(page.next){%>
  <li class="next"><a href="<%- page.next.permalink %>">下一篇<i class="icon-arrow-right"></i></a></li>
  <%}else{%>
    <li class="next disabled"><a href="">没有了<i class="icon-arrow-right"></i></a></li>
>>>>>>> 1a32c368f6111ea0ec8326bc9a3ac089d9c47ee8
  <%}%>
    </ul>
  </footer>
  <div id="waline"></div>
</article>
<script type="text/javascript">
  Waline({
    el: '#waline',
    serverURL: '<%-theme.waline%>'
  })
<<<<<<< HEAD
</script>

=======
</script>
>>>>>>> 1a32c368f6111ea0ec8326bc9a3ac089d9c47ee8
