<article id="post">
  <section>
  <h1><%=page.title%></h1>
  <p class="time"><span style="margin-right: 16px;"><i class="icon icon-pencil text-primary"></i><%= date(page.date,'YYYY年MM月DD日 HH:mm:ss') %></span><span>总字数:<%-strip_html(page.content).replace(/\s/g,'').length%></span></p>
<hr>
  <div class="content"><%-page.content%></div>
  <div style="margin-top: 16px;">
    <span style="margin-right: 16px;"><i class="icon icon-check text-green"></i><%= date(page.updated,'YYYY年MM月DD日 HH:mm:ss') %></span>
  </div>
</section>
  <footer>
    <p class="pull-right text-muted">本文在知识共享 署名-相同方式共享 3.0协议之条款下提供。</p>
    <p class="text-important">本文节选自 Wikipedia HTML5 词条。</p>
    <ul class="pager pager-justify">
<% if(page.prev){%>
  <li class="previous"><a href="<%- page.prev.permalink %>"><i class="icon-arrow-left"></i>上一篇</a></li>
  <%}else{%>
    <li class="previous disabled"><a href=""><i class="icon-arrow-left"></i>没有了</a></li>
  <%}%>

<% if(page.next){%>
  <li class="next"><a href="<%- page.next.permalink %>">下一篇<i class="icon-arrow-right"></i></a></li>
  <%}else{%>
    <li class="next disabled"><a href="">没有了<i class="icon-arrow-right"></i></a></li>
  <%}%>
    </ul>
  </footer>
  <div id="waline"></div>
</article>
<script type="text/javascript">
  Waline({
    el: '#waline',
    serverURL: '<%-theme.waline%>'
  })
</script>